[Unit]
Description=The VerneMQ broker.
After=multi-user.target

[Service]
Environment="VERNEMQ_PATH=/usr/bin/vernemq"
Type=simple
Restart=always
RestartSec=1
ExecStart=/usr/bin/vernemq/bin/vernemq console -noshell -noinput $@ &

[Install]
WantedBy=multi-user.target
