[Unit]
Description=fishies timer service
After=fishies-vernemq.service

[Service]
EnvironmentFile=/etc/fishies/server.conf
ExecStart=/bin/bash -c 'mosquitto_pub --topic "time" -u $MQTT_USER -P $MQTT_PASS -h $MQTT_HOST -p $MQTT_PORT -m $(date +%%s)'

[Install]
WantedBy=multi-user.target
