[Unit]
Description=fishies scheduler service
ConditionPathExists=/etc/fishies/scheduler
After=network.target

[Service]
Type=simple
Restart=on-failure
RestartSec=10
WorkingDirectory=/etc/fishies
ExecStart=/etc/fishies/scheduler

[Install]
WantedBy=multi-user.target
